<div class="content">
    <div class="box">
        <h1>FFA Tycoon Admin</h1>
        <h2>Servers</h2>
        <div id="serverlistings">
            <% if (servers) {
                servers.forEach(function(server, i){ %>
                <div class="block">
                    <span class="subtitle"><a href="/server/<%= i %>"><%= server.GetName() %></a></span>
                    
                    <div class="parkstats">
                        <div><span class="property">Group:</span> <span><%= server.GetGroup() %></span></div>
                        <div><span class="property">Mode:</span> <span><%= server.GetMode() %></span></div>
                        <% if (server.GetDetailsSync()) { %>
                        <div><span class="property">Scenario:</span> <span><%= server.GetDetailsSync().park.name %></span></div>
                        <div><span class="property">Guests:</span> <span><%= server.GetDetailsSync().park.guests %></span></div>
                        <div><span class="property">Rating:</span> <span class="<%
                            if(server.GetDetailsSync().park.rating >= 550){
                                echo('is-success');
                            }
                            else if (server.GetDetailsSync().park.rating > 350){
                                echo('is-warning');
                            }
                            else{
                                echo('is-danger');
                            }
                            %>"><%= server.GetDetailsSync().park.rating %></span></div>
                        <div><span class="property">Online:</span> <span><%= server.GetDetailsSync().network.players.length - 1 %></span></div>
                        <% } %>
                    </div>
                </div>
            <% }); } %>
        </div>
    </div>
</div>
<script src="/assets/js/dashboard.js?v1"></script>
