<div class="content">
    <div class="box">
        <h1>FFA Tycoon Admin</h1>
        <p>
            You are in control
        </p>
    </div>
    <div class="box">
        <h2>Servers</h2>
        <% if (servers) {
            servers.forEach(function(server, i){ %>
            <div class="block">
                <span class="subtitle"><a href="/server/<%= i %>"><%= server._name %></a></span>
                
                <div class="parkstats">
                    <div><span>Group:</span> <%= server._group %></div>
                    <div><span>Mode:</span> <%= server._mode %></div>
                    <% if (server._details) { %>
                    <div><span>Scenario:</span> <%= server._details.park.name %></div>
                    <div><span>Guests:</span> <%= server._details.park.guests %></div>
                    <div><span>Rating:</span> <%= server._details.park.rating %></div>
                    <div><span>Online:</span> <%= server._details.network.players.length - 1 %></div>
                    <% } %>
                </div>
            </div>
        <% }); } %>
    </div>
</div>