<div class="content">
    <h1>
        <%= server.GetName() %>
    </h1>

    <div class="parkstats block" id="parkstats">
        <div><span class="property">Group:</span> <%= server.GetGroup() %></div>
        <div><span class="property">Mode:</span> <%= server.GetMode() %></div>
        <% if (server.GetDetailsSync()) { %>
        <div><span class="property">Scenario:</span> <%= server.GetDetailsSync().park.name %></div>
        <div><span class="property">Guests:</span> <%= server.GetDetailsSync().park.guests %></div>
        <div><span class="property">Rating:</span> <span class="<%
            if(server.GetDetailsSync().park.rating >= 550){
                echo('is-success');
            }
            else if (server.GetDetailsSync().park.rating > 350){
                echo('is-warning');
            }
            else{
                echo('is-danger');
            }
            %>"><%= server.GetDetailsSync().park.rating %></span></div>
        <div><span class="property">Online:</span> <%= server.GetDetailsSync().network.players.length - 1 %></div>
        <% } %>
    </div>

    <div class="block" id="archival">
        <button id="archivebtn" class="button is-primary is-outlined">Archive</button> <button id="stopbtn" class="button is-primary is-outlined">Stop</button>
    </div>

    <div class="block serv-control-grid" id="servercontrols">
        <input id="staffnumtxt" class="input" type="number" value="10" min="1" max="100">
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select id="stafftype">
                    <option value="handyman" selected>
                        Handymen
                    </option>
                    <option value="mechanic">
                        Mechanics
                    </option>
                    <option value="security">
                        Guards
                    </option>
                    <option value="entertainer">
                        Entertainers
                    </option>
                </select>
            </div>
        </div>
        <button id="staffhirebtn" class="button is-primary is-outlined">Hire</button>

        <input id="broadcastmsg" class="input" type="text" placeholder="Broadcast Message">
        <button id="sendbtn" class="button is-primary is-outlined">Send</button>
    </div>

    <div class="block buttons are-normal" id="cheats">
        <button value="19 1 128" class="button is-warning is-light">Max Energy</button>
        <button value="20 250 0" class="button is-warning is-light">Large Tram</button>
        <button value="46 20 0" class="button is-warning is-light">Create Ducks</button>
        <button value="27 0 0" class="button is-warning is-light">Remove Trash</button>
        <button value="26 0 0" class="button is-warning is-light">Fix Vandalism</button>
        <button value="31 0 0" class="button is-warning is-light">Fix Rides</button>
        <button value="32 0 0" class="button is-warning is-light">Reset crash status</button>
    </div>

    <div class="block auto-overflow" id="users">
        <table id="parkTable" class="table">
            <tbody>
                <% if (server.GetDetailsSync()) { server.GetDetailsSync().network.players.forEach(function(player){ if (player.id !==0)
                    { 
                        let d = (new Date()).getTime(); %>
                    <tr id="row-<%= player.hash %>">
                        <td>
                            <%= player.name %>
                        </td>
                        <td>
                            <button class="button is-small ipbtn"><%= player.ip %></button> <div class="displaynone"></div>
                        </td>
                        <td>
                            <div class="select is-small">
                                <select name="group-<%= player.id %>-<%= d %>" class="groupselect" id="groupselect-<%= player.hash %>">
                                    <% server.GetDetailsSync().network.groups.forEach(function(group){ %>
                                        <option value="<%= group.id %>" <% if (group.id === player.group) { %>selected<% }
                                                %>><%= group.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            </div>
                        </td>
                        <td class="align-right">
                            <button class="kickbtn button is-small is-danger is-outlined" id="kickbtn-<%= player.hash %>">Kick</button>
                        </td>
                    </tr>
                <% }}); } %>
            </tbody>
        </table>
    </div>

    <div class="block" id="loadpark">
        <input id="publicurltxt" class="displaynone" type="text" value="<%= publicurl %>" >
        <div class="field has-addons has-addons-centered">
            <p class="control">
                <input id="saveidtxt" type="number" min="0" placeholder="Save ID" value="<%= server.GetId() %>" class="input">
            </p>
            <p class="control">
                <button id="fetchsavesbtn" class="button is-primary is-outlined">Get saves</button>
            </p>
        </div>
    </div>

    <div class="block parkfiles" id="parkfiles">

    </div>
</div>

<script src="/assets/js/serverscreen.js?v2"></script>
