<div class="content">
    <h1>
        <%= server._name %>
    </h1>

    <div class="parkstats block" id="parkstats">
        <div><span class="property">Group:</span> <%= server._group %></div>
        <div><span class="property">Mode:</span> <%= server._mode %></div>
        <% if (server._details) { %>
        <div><span class="property">Scenario:</span> <%= server._details.park.name %></div>
        <div><span class="property">Guests:</span> <%= server._details.park.guests %></div>
        <div><span class="property">Rating:</span> <span class="<%
            if(server._details.park.rating >= 550){
                echo('is-success');
            }
            else if (server._details.park.rating > 350){
                echo('is-warning');
            }
            else{
                echo('is-danger');
            }
            %>"><%= server._details.park.rating %></span></div>
        <div><span class="property">Online:</span> <%= server._details.network.players.length - 1 %></div>
        <% } %>
    </div>

    <div class="block" id="archival">
        <button id="archivebtn" class="button is-primary is-outlined">Archive</button> <button id="stopbtn" class="button is-primary is-outlined">Stop</button>
    </div>

    <div class="block sendform" id="broadcast">
        <input id="broadcastmsg" class="input" type="text" placeholder="Broadcast Message">
        <button id="sendbtn" class="button is-primary is-outlined">Send</button>
    </div>

    <div class="block" id="users">
        <table id="parkTable" class="table">
            <tbody>
                <% if (server._details) { server._details.network.players.forEach(function(player){ if (player.id !==0)
                    { 
                        let d = (new Date()).getTime(); %>
                    <tr id="row-<%= player.hash %>">
                        <td>
                            <%= player.name %>
                        </td>
                        <td>
                            <%= player.ip %>
                        </td>
                        <td>
                            <div class="select is-small">
                                <select name="group-<%= player.id %>-<%= d %>" class="groupselect" id="groupselect-<%= player.hash %>">
                                    <% server._details.network.groups.forEach(function(group){ %>
                                        <option value="<%= group.id %>" <% if (group.id === player.group) { %>selected<% }
                                                %>><%= group.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            </div>
                        </td>
                        <td class="align-right">
                            <button class="kickbtn button is-small is-danger is-outlined" id="kickbtn-<%= player.hash %>">Kick</button>
                        </td>
                    </tr>
                <% }}); } %>
            </tbody>
        </table>
    </div>

    <div class="block" id="newsfeed">

    </div>
</div>

<script src="/assets/js/serverscreen.js?v1"></script>